/* 订单详情 */
page{background: #eeeeee;}
.order-details-view{
background-color: rgb(255, 0, 54);
height: 200rpx;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50rpx;
color: #FFFFFF;
font-size: 30rpx;
}
.order-details-view image{width: 200rpx; height: 200rpx;}
/* 地址 */
.order-details-address text{display: block;}
.order-details-address{
font-size: 28rpx;
background-color: #FFFFFF;
display: flex;
align-items: center;
height: 140rpx;
padding: 0 20rpx;
margin-bottom: 20rpx;
}
.order-details-address view:nth-child(1){width: 60rpx; height: 60rpx;
padding-right: 20rpx;
}
.order-details-address image{width: 60rpx; height: 60rpx;}
.order-details-name text:nth-child(1){padding-bottom: 10rpx;}
/* 商品详情 */
.tips-import{height: 15rpx !important;}
.pay-border{border-radius: inherit !important; margin: inherit !important;}
.order-number{
background-color: #FFFFFF;
font-size: 28rpx;
}
.order-number text{display: block;
padding: 10rpx 20rpx;
}
/* 支付 */
.order-details-play{background-color: #FFFFFF;
height: 80rpx;
display: flex;
justify-content: flex-end;
position: fixed;
bottom: 0;
left: 0;
right: 0;
}
.order-details-play text{height: 80rpx; width: 200rpx;
font-size: 28rpx;
color: #FFFFFF;
background-color: rgb(255, 0, 54);
text-align: center;
line-height: 80rpx;
}