/* 产品参数和领优惠券公用样式 */
.Coupon-yin{
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
background: rgba(0,0,0,0.8);
z-index: 99;
}
.Coupon-view{
height: 850upx;
padding-bottom: 30upx;
background: #FFFFFF;
z-index: 999;
position: fixed;
bottom: 0;
left: 0;
right: 0;
overflow-y:auto;
}
.Coupon-title{height: 80upx; line-height: 80upx;
text-align: center;
margin-bottom: 60upx;}